<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" type="button" routerLink="/">

            🎭eToolz</a>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

        <!-- <div class="input-group mb-3"> -->
        <input type="text" 
        class="form-control" 
        placeholder="Search" 
        aria-label="Search" [(ngModel)]= "enteredSearchValue" (input)="onSearchTextChanged()">
        <a class="btn btn-outline-dark bg-light text-black" type="button" routerLink="/product-list/{{this.enteredSearchValue}}" >search</a>
        <a class="btn btn-outline-light bg-dark mx-1 text-light" type="button" 
        routerLink="/location" 
        routerLinkActive="text-light">LOCATION</a>
        <button class="btn btn-light bg-dark mx-1 text-light position-relative" type="button" routerLink="/cart" >
            🛒
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" [ngClass]="{'visually-hidden': myCart.addCart===0}" >{{myCart.addCart}}</span>
        </button>




        <!-- </div> -->
        <!-- </div> -->
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">

                <li class="nav-item mx-4 ">
                    <a class="nav-link text-light" routerLink="/product-list/all-product" >ALL PRODUCTS</a>
                </li>
                <li class="nav-item mx-4 ">
                    <a class="nav-link text-light" routerLink="/product-list/mobile" >PHONE AND TABLETS</a>
                </li>
                <li class="nav-item mx-4 ">
                    <a class="nav-link text-light " routerLink="/product-list/accessories" >ACCESSORIES</a>
                </li>
                <li class="nav-item mx-4 ">
                    <a class="nav-link text-light" routerLink="/product-list/laptop">MACKBOOK/LAPTOP</a>
                </li>
                <li class="nav-item mx-4 ">
                    <a class="nav-link text-light" routerLink="/product-list/camera" >CAMERA/GIMBAL</a>
                </li>
                <li class="nav-item mx-4 ">
                    <a class="nav-link text-light" routerLink="/product-list/console" >VIDEO GAME</a>
                </li>
                <li class="nav-item mx-4 ">
                    <a class="nav-link text-light">BRANDS</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
